@model IEnumerable<DnkFinances.Models.Transaction>

@{
    ViewData["Title"] = "Entrada";
}

<section class="mt-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-4   fw-bold fs-3">@ViewData["Title"]</div>
      <div class="col-md-4">

      <a class="btn btn-success" asp-area="" asp-controller="Transaction" asp-action="CreateIncome">
        <i class="bi bi-plus-circle-fill"></i>
        Criar nova Transação de Entrada
      </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-reponsive">
              <table class="table table-hover">
                <thead>
                  <tr class="table-primary">
                    <th scope="col"> @Html.DisplayNameFor(model => model.Date)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Title)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Amount)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Account)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Category)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Status)</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>

                <tbody>

                  @if (Model != null && Model.Count() == 0)
                  {
                    <tr>
                        <td colspan="8">Nenhuma conta registrada.</td>
                    </tr>
                  } 

                  @foreach (var item in Model) {
                    <tr>
                        <td class="text-uppercase">
                            @item.Date
                        </td>
                        <td>
                           @item.Title
                        </td>
                         <td>
                           @item.Description
                        </td>
                         <td>
                           @item.Amount
                        </td>
                         <td>
                           @item.Account.Name
                        </td>
                         <td>
                           @item.Category.Title
                        </td>
                         <td>
                           @item.Status
                        </td>

                        <td colspan="2">
                            <a title="Editar"
                              asp-controller="Account" 
                              asp-action="Edit" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-pencil-fill"></i></a>

                            <a class="mx-2" title="Detalhes" 
                              asp-controller="Account" 
                              asp-action="Details" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-archive-fill ml-2"></i></a>
                            <a title="Deletar"
                              asp-controller="Account" 
                              asp-action="Delete" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    
</section>