@model IEnumerable<DnkFinances.Models.Account>
@using System.Globalization

@{
    ViewData["Title"] = "Suas Contas";
    var ReaisCulture = new CultureInfo("pt-BR");
}




<section class="mt-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-4   fw-bold fs-3">@ViewData["Title"]</div>
      <div class="col-md-4">

      <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Create">
        <i class="bi bi-plus-circle-fill"></i>
        Criar nova conta
      </a>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-reponsive">
              <table class="table table-hover">
                <thead>
                  <tr class="table-primary">
                    <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.Balance)</th>
                    @* <th scope="col">Tipo</th> *@
                    <th scope="col">Ações</th>
                  </tr>
                </thead>

                <tbody>

                  @if (Model.Count() == 0)
                  {
                    <tr>
                        <td colspan="4">Nenhuma conta registrada.</td>
                    </tr>
                  } 

                  @foreach (var item in Model) {
                    <tr>
                        <td class="text-uppercase">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                           @item.Balance.ToString("C", ReaisCulture)
                        </td>

                        <td colspan="2">
                            <a title="Editar"
                              asp-controller="Account" 
                              asp-action="Edit" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-pencil-fill"></i></a>

                            <a class="mx-2" title="Detalhes" 
                              asp-controller="Account" 
                              asp-action="Details" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-archive-fill ml-2"></i></a>
                            <a title="Deletar"
                              asp-controller="Account" 
                              asp-action="Delete" 
                              asp-route-id="@item.Id"
                            ><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    
</section>